<body>
  <!-- Sidebar -->
  <div class="sidebar">
    <a href="#" class="waves-effect" onclick="showMainContent()"><i class="material-icons">home</i>Home</a>
    <a href="#" class="waves-effect" onclick="showChangelogContent()"><i class="material-icons">history</i>Changelog</a>
    <a href="#" class="waves-effect" onclick="showInstallsContent()"><i class="material-icons">inbox</i>Installs</a>
    <a href="#" class="waves-effect" onclick="showAboutContent()"><i class="material-icons">info</i>About</a>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <h1>Client up to date</h1>
    <h3>Your shaytris client is up to date!</h3>
  </div>

  <!-- About Content -->
  <div class="about-content">
    <h1>ShayLoader</h1>
    <p>© Shaytris Team 2024 - 2024</p>
    <p>ShayLoader is open source software licensed under the MIT License.</p>
    <a href="https://gitlab.com/shaytris/shayloader">View the code on our GitLab</a> <!-- Your link -->
  </div>

  <!-- Changelog Content -->
  <div class="changelog-content">
    <h1>Changelog</h1>
    <p>Changelog content goes here...</p>
  </div>

  <!-- Installs Content -->
  <div class="installs-content">
    <h1>Installs</h1>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">download</i>Alpha 2 (Mars)</div>
        <div class="collapsible-body">
          <span>- New settings options</span><br>
          <span>- New Music Player</span><br>
          <br>
          <span><button>Install</button></span>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">download</i>Alpha 1 (Welcome)</div>
        <div class="collapsible-body">
          <span>- First Ever Build</span><br>
        </div>
      </li>
    </ul>
  </div>
