body {
      font-family: 'Roboto', sans-serif;
      background-color: #f0f0f0;
      color: #333;
    }
    .sidebar {
      background-color: #6019d2;
      height: 100%;
      width: 250px;
      position: fixed;
      top: 0;
      left: 0;
      padding-top: 70px;
    }
    .sidebar a {
      padding: 16px;
      text-decoration: none;
      font-size: 20px;
      color: #fff;
      display: flex;
      align-items: center;
    }
    .sidebar a:hover {
      background-color: #5b19c7;
    }
    .main-content, .about-content, .changelog-content, .installs-content {
      margin-left: 250px;
      padding: 20px;
      display: none;
    }
    .about-content, .changelog-content, .installs-content {
      background-color: #fff;
      color: #333;
    }
    .about-content a, .changelog-content a, .installs-content a {
      color: #1976D2; /* Link color */
      text-decoration: underline; /* Underline link */
    }
    @media only screen and (max-width: 600px) {
      .sidebar {
        width: 100%;
      }
      .main-content, .about-content, .changelog-content, .installs-content {
        margin-left: 0;
      }
    }